POSTGRES_DB=database_name
POSTGRES_USER=database_user
POSTGRES_PASSWORD=database_password
JWT_SECRET=jwt_password_secret
ADMIN_FULL_NAME=admin_full_name
ADMIN_EMAIL=admin_email
ADMIN_PASSWORD=admin_password
EMPLOYEE_1_FULL_NAME=
EMPLOYEE_1_EMAIL=
EMPLOYEE_1_PASSWORD=
EMPLOYEE_2_FULL_NAME=
EMPLOYEE_2_EMAIL=
EMPLOYEE_2_PASSWORD=